@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;

}


:root {
    --fonte1: 'Passion One', sans-serif;
    --fonte2: 'Poppins', sans-serif;
    --fonte3: 'Roboto', sans-serif;
}

body {
    background-color: rgba(194, 186, 186, 0.329);
}

.header {
    background-color: black;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.adm-logo {
    width: 100px;
    margin-left: 5%;
    margin-right: 4%;
}

.adm-label {
    color: white;
}

.adm-sair {
    width: 20px;
    position: absolute;
    right: 0;
    padding-right: 35px;
    cursor: pointer;
}

#container-adm {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-left: 10%;
}

.container-adm {
    display: flex;
}


.btn-cadastro {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.233);
    border: 1px solid rgba(0, 0, 0, 0.301);
    margin-right: 4%;
    width: 240px;
    height: 20vh;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin: 20px;
}

.cadastro-label {
    font-size: 1.3em;
}

.cadastro-icon {
    width: 50px;
    height: 45px;
    margin-left: 15px;
}

.btn-cadastro:hover {
    box-shadow: 0px 0px 5px 0px rgb(19, 204, 204);
    cursor: pointer;
}
.cadastro-label:hover {
    cursor: pointer;
}


.lista {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.233);
    border: 1px solid rgba(0, 0, 0, 0.301);
    margin-right: 40px;
    width: 240px;
    height: 20vh;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.lista-label {
    font-size: 1.3em;
}

.lista-icon {
    width: 50px;
    margin-left: 56px;
}

.lista:hover:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgb(19, 204, 204);
}
.lista-label:hover {
    cursor: pointer;
}
/*Pagina de cadastro de novo usuário*/

#container-adm-form {
    width: 90%;
    margin-top: 80px;
    flex-direction: column;
    padding-left: 10%;
}

.title-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 23px;
}

.label-form {
    font-size: 1.6em;
    font-weight: bold;
}

.form-btn-voltar {
    font-size: 0.9em;
    font-weight: bold;
    border: transparent;
    border-radius: 7px;
    background-color: grey;
    color: white;
    padding: 6px 25px;
    position: absolute;
    right: 0;
    margin-right: 100px;
}

.adm-form {
    display: flex;
    flex-direction: column;
}

.nome-form {
    font-weight: bold;
}

.input-nome-form {
    padding: 9px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 90%;
}
.input-email-form:hover,.input-nome-form:hover,.input-tel-form:hover{
    box-shadow: 0px 0px 5px 0px rgb(19, 204, 204);
    
}

.adm-form-group {
    display: flex;
    width: 92%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.form-group-email {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.form-group-tel {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.email-form {
    margin-bottom: 3px;
    font-weight: bold;
}

.input-email-form {
    padding: 9px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 2px;
}

.tel-form {
    margin-bottom: 3px;
    font-weight: bold;
}

.input-tel-form {
    padding: 9px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 2px;
}

.form-group-rodape {
    display: flex;
    flex-direction: column;
}


.form-btn-salvar {
    width: 100px;
    font-size: 0.9em;
    font-weight: bold;
    border: transparent;
    border-radius: 7px;
    background-color: rgb(11, 170, 209);
    color: white;
    padding: 6px 25px;
    margin-top: 20px;  
}


.form-btn-voltar:hover {
    cursor: pointer;
    background-color: rgb(11, 170, 209);
    transition: 0.1s;
    padding: 7px 26px;
}

.form-btn-salvar:hover {
    cursor: pointer;
    transition: 0.1s;
    padding: 7px;
}

/*Pagina de lista de usuários*/

#container-lista {
    width: 90%;
    margin-top: 100px;
    flex-direction: column;
    padding-left: 10%;
}

.title-lista {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.label-lista {
    font-size: 1.6em;
    font-weight: bold;
}

.lista-btn-voltar {
    font-size: 0.9em;
    font-weight: bold;
    border: transparent;
    border-radius: 7px;
    background-color: grey;
    color: white;
    padding: 6px 25px;
    position: absolute;
    right: 0;
    margin-right: 100px;
}

.lista-btn-voltar:hover {
    cursor: pointer;
    background-color: rgb(11, 170, 209);
    transition: 0.1s;
    padding: 7px 26px;
}

.table-lista {
    margin-right: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(73, 70, 70, 0.144);
}

table th {
    padding-bottom: 5px;
    padding-right: 20px;
}

table td {
    border-top: 1px solid rgba(0, 0, 0, 0.384);
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
    padding: 6px 7px 6px 0;
}

table td img {
    width: 22px;
    margin: 0;
    padding-left: 15px;
    text-align: center;
}

.edit {
    margin: 1px;
    width: 10px;
}

div#container-table {
    overflow-x: auto;
}

.hidden {
    display: none;
}

.center{
    text-align: center;
}