@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;

}

:root {
    --fonte1: 'Passion One', sans-serif;
    --fonte2: 'Poppins', sans-serif;
    --fonte3: 'Arial, Helvetica, sans-serif';
    --color1: #00AFEF;

}

body {
    background-color: rgba(194, 186, 186, 0.329);

}

.hidden{
    display: none;
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.container-edit {
    width: 430px;
    display: flex;
    flex-direction: column;
}

.direita,
.esquerda {
    display: flex;
    align-items: center;
    padding: 10px;
}

.edit-logo {
    width: 100px;
    margin-left: 40px;
    margin-right: 50px;
}

.edit-label {
    color: white;
}

.edit-sair {
    width: 20px;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 20px;
}

.edit-gera-pdf {
    border: 0px;
    background-color: rgb(11, 170, 209);
    border-radius: 20px;
    padding: 7px 15px;


}

.edit-gera-pdf label {
    color: black;
}

.edit-compartilhar {
    border: 0;
    background-color: rgb(11, 170, 209);
    margin-left: 40px;
    border-radius: 20px;
    padding: 7px 15px;
    display: flex;
    align-items: center;
}

.edit-compartilhar img {
    width: 17px;
    padding-right: 5px;

}

.edit-compartilhar label {
    color: black;
}

.edit-gera-pdf:hover,
.edit-compartilhar:hover,
.label-compartilhar:hover,
.label-gera-pdf:hover {
    cursor: pointer;
}




.container-edit {
    margin-left: 40px;
    margin-top: 30px;
}

.fundo-cores {
    background-color: white;
    width: 400px;
    height: 85px;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562);
    border-radius: 8px;
    margin-bottom: 30px;
    padding-bottom: 20px;

}

.label-temas {
    color: gray;
    font-weight: bold;
}

.container-botoes {
    display: flex;
    
}

.container-botoes label {
    font-weight: bold;
}

.botoes-fundo1 {
    display: flex;
    flex-direction: column;
    width: 100px;
    
}

.botoes-fundo1 input {
    width: 35px;
    height: 35px;
    border: 3px solid gray;
    border-radius: 5px;
}

.botoes-fundo2 {
    display: flex;
    flex-direction: column;
    width: 100px;
    
}

.botoes-fundo2 input {
    width: 35px;
    height: 35px;
    border: 3px solid gray;
    border-radius: 5px;
}

.botoes-fundo3 {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.botoes-fundo3 input {
    width: 35px;
    height: 35px;
    border: 3px solid gray;
    border-radius: 5px;
}

.botoes-fundo4 {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
}

.botoes-fundo4>.btn1 {
    border: 3px solid rgb(58, 214, 219);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.botoes-fundo4 button {
    width: 33px;
    height: 33px;
    margin-right: 10px;
    border: 3px solid gray;
    border-radius: 5px;
    background-color: black;
}

.botoes-fundo5 {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
}

.botoes-fundo5>.btn1 {
    border: 3px solid rgb(58, 214, 219);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.botoes-fundo5 button {
    width: 33px;
    height: 33px;
    margin-right: 10px;
    border: 3px solid gray;
    border-radius: 5px;
    background-color: black;
}


.edit-links {
    background-color: white;
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-links-label {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em;
}

.pesquisar {
    display: flex;
    width: 360px;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.233);
}

.pesquisar img {
    width: 24px;
    padding: 5px;
    margin-left: 7px;
    cursor: pointer;
}

.pesquisar input {
    width: 305px;
    padding: 3px;
    border: 0px;
}

.config-button {
    width: 350px;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    position: relative;
    background-color: rgba(128, 128, 128, 0.233);
    border-radius: 7px;
    margin-top: 15px;
}

.config-button label {
    font-weight: bold;
    font-size: 0.9em;
}

.config-button img {
    width: 23px;
    position: absolute;
    left: 0;
    padding-left: 29px;
}

.destaque:hover {
    cursor: pointer;
    background-color: rgb(18, 122, 35);
    color: white;
    padding: 11px;
    transition: 0.1s;
}

.destaque-label:hover {
    cursor: pointer;
}

.label-rodape {
    font-size: 0.8em;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btn-gerar-link {
    background-color: rgba(5, 138, 5, 0.726);
    color: white;
    border: 0px;
    border-radius: 20px;
    font-size: 0.8em;
    padding: 6px;
    margin: 0px 20px 20px 15px;
}

.btn-gerar-link:hover,
.btn-salvar-edit:hover {
    cursor: pointer;
}

.btn-salvar-edit {
    background-color: rgba(11, 170, 190, 0.726);
    border: 0px;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 6px;
    margin: 0px 20px 6px 15px;
}

.label-rodape2 {
    text-align: center;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.container-cartao {
    width: 350px;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao {
    background-color: rgb(3, 3, 3);
    display: flex;
    position: relative;
    flex-direction: column;
    width: 290px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 15px;
    padding-top: 165px;
    position: relative;
}

.foto-cartao {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 50%;
    border: 9px solid rgba(7, 124, 139, 0.726);
    position: absolute;
}


.campos-cartao input {
    margin: 5px 0px;
    border: 2px solid white;
    background-color: transparent;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    padding: 3px 0px;
    color: #fff;
}

.campos-cartao-nome::placeholder {
    color: #fff;
}

.campos-cartao-descricao::placeholder {
    color: var(--color1);
}

.campos-cartao-arroba::placeholder {
    color: #fff;
    font-size: 17px;
}

.acoes-cartao {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    align-items: center;
}

.acoes-cartao input {
    margin-right: 10px;
    padding: 6px 20px;
    border-radius: 15px;
    border: 0px;
    background-color: var(--color1);
}

.modo-off-cartão {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.modo-off-cartão img {
    width: 20px;
    margin-bottom: 2px;
}

.modo-off-cartão label {
    color: var(--color1);
    font-size: 0.4em;
}

.enviar-cartão2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.enviar-cartão2 img {
    width: 36px;
    height: 20px;
    margin-bottom: 2px;
}

.enviar-cartão2 label {
    color: var(--color1);
    font-size: 0.7em;
}

.hover:hover {
    cursor: pointer;
}

.caixa {
    width: 20px;
    height: 20px;
    border: 2px solid #fdfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 4px;
}

.mais {
    color: #ffffff;
}

.addLink-cartao {
    width: 250px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    padding: 10px 0px;
}

.label-add-link {
    color: #ffffff;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.addLink-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-cartao {
    width: 250px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-txt-cartao {
    width: 250px;
    background-color: black;
    border: 2px solid white;
    margin-bottom: 5px;
    height: 80px;
    text-align: center;
}

.input-txt-cartao::placeholder {
    white-space: pre-line;
    color: var(--color1);
}

.btn-nfc {
    width: 250px;
    border-radius: 7px;
    border: 0px;
    background-color: rgb(5, 138, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-bottom: 40px;
    margin-top: 5px;
    cursor: pointer;
}

.btn-nfc label {
    color: #ffff;
    padding: 0px 30px;
    font-weight: bold;
    cursor: pointer;
}

.btn-nfc img {
    width: 20px;
    cursor: pointer;
}

.rodape-cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape-cartao input {
    border: 0px;
    color: var(--color1);
    margin: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.rodape-cartao label {
    text-align: center;
}

.rodape-cartao img {
    margin: 10px;
    width: 150px;
    height: 170px;
}

.editar-rodape {
    background-color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: center;
}

.editar-rodape img {
    width: 50px;
    height: 50px;
}

.editar-rodape label {
    color: var(--color1);
}

.icone-rodape {
    display: flex;
    flex-direction: row;
}

.icone-rodape img {
    width: 30px;
    height: 30px;
}

.icone-rodape img:hover {
    cursor: pointer;
}

.info-contato {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .conteudo-div {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .conteudo-div-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }
  .conteudo-div-label{
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
  }
  .conteudo-div-btn{
    border: 0px;
    background-color: white;
  }
  
  #fecharDiv {
    margin-top: 10px;
  }

  .form-edit-contato{
    display:flex;
    flex-direction: column;
  }

  .form-edit-contato label{
    font-family: var(--fonte3);
    margin: 3px 0px;
  }
  .form-edit-contato input{
        padding: 6px;
        margin: 4px 0px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.247);
  }
  .edit-contato-salvar{
    border: 0px;
    background-color: rgb(11, 170, 209);
    border-radius: 5px;
    padding: 10px 0px;
    margin-top: 5px;
    color: white;
    width: 100%;
  }

  .adiciona-icone{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

  }
  .conteudo-add-icone{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .conteudo-add-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .add-links-label{
    font-size: 1em;
    font-weight: bold;
    padding-left: 90px;
  }
  .btn-add-title{
    border: 0px;
    background-color: white;
  }
  .add-pesquisar{
    display: flex;
    width: 300px;
    border: 3px solid  rgba(128, 128, 128, 0.233);
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.233);
    margin-bottom: 4px;
  }

  .add-pesquisar img {
    width: 20px;
    padding: 5px;
    margin-left: 7px;
    cursor: pointer;
}

.add-pesquisar input {
    width: 305px;
    padding: 3px;
    border: 0px;
}
.btn-adiciona-icone{
    overflow-y:auto ;
}
.btn-adiciona-icone img{
    width: 20px;
}

.btn-adiciona-icone th{
    width: 270px;
    text-align: left;
    padding: 5px 4px;
    display: flex;
    margin: 3px 0px;
       
}
.btn-adiciona-icone img{
    margin-right: 25px;
}
.btn-adiciona-icone th:hover{
    background-color: rgba(128, 128, 128, 0.233);
}

.ad-icone{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.conteudo-ad-icone{
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ad-icone-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.ad-icone-title label{
    font-size: 1em;
    font-weight: bold;
    padding-left: 90px;
}
.ad-icone-title button{
    border: 0px;
    background-color: white;
}
.ad-link-campos{
    display: flex;
    flex-direction: column;
}
.ad-link-campos input{
    background-color: rgba(128, 128, 128, 0.233);
    padding: 7px 10px;
    border-radius: 6px;
    border: 0px;
    margin-bottom:7px;

}
.ad-link-campos input::placeholder{
    color: black;
    font-size:12px;
}
.btn-ad-link{
    padding: 8px;
    border: 0px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: var(--color1);
    font-weight: bold;
}